.home {
  width: 100%;
}

.section-1 {
  height: 100vh;
  width: 100%;
  background-color: #070707;
}

.section-2 {
  height: 100vh;
  width: 100%;
  background-image: url("https://res.cloudinary.com/dsbp8pqdb/image/upload/v1680022873/pexels-matheus-bertelli-1144687_tucemk.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(20%);
}

.section-3 {
  height: 100vh;
  width: 100%;
  background-image: url("https://res.cloudinary.com/dsbp8pqdb/image/upload/v1680020371/pexels-pixabay-158163_1_hdd6pg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.indicators {
  position: fixed;
  right: 0;
  top: 40%;
  z-index: 999;
}
.indicator {
  transition: transform 0.2s;
  opacity: 0.7;
  background-color: transparent;
  border: none;
  font-size: 1.3vw;
  font-weight: bold;
}

.selected {
  transform: scale(1.2);
  opacity: 1;
}
body {
  font-family: "Space Grotesk", sans-serif;
}
.centro-texto {
  text-align: center;
}
.slider-size {
  height: 100%;
  width: 100%;
}
.slider-size-inside {
  height: 100vh;
  width: 100%;
}
.img-nat {
  background-image: url("https://res.cloudinary.com/dsbp8pqdb/image/upload/v1680000755/pexels-eberhard-grossgasteiger-1428277_o6feyl.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.img-city {
  background-image: url("https://res.cloudinary.com/dsbp8pqdb/image/upload/v1680013617/pexels-brayden-law-2096700_hfq4xw.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.img-por {
  background-image: url("https://res.cloudinary.com/dsbp8pqdb/image/upload/v1680001067/pexels-leah-kelley-5091121_xcgcpa.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.navbars {
  position: fixed;
  margin-top: 7vh;
  z-index: 999;
  opacity: 1 !important;
  color: rgb(255, 255, 255);
  /* background: linear-gradient(
    to right,
    transparent 0%,
    transparent 30%,
    #000000 50%,
    transparent 70%,
    transparent 100%
  );*/
}
.borde {
  border: 2px #ff0000;
}
.black {
  color: rgb(255, 255, 255);
  font-size: 2vw;
}
.right-button {
  position: relative;
  width: 2vw;
  opacity: 1 !important;
}
.left-button {
  position: relative;
  width: 2vw;
  opacity: 1 !important;
}
.ptop {
  margin-top: 43vh;
}
.titles {
  font-size: 4vw;
  color: rgb(255, 255, 255);
  font-weight: bold;
}
.translucid {
  background-color: rgba(0, 0, 0, 0.377);
}
.text-white {
  color: solid white;
}
.name-size {
  font-size: 2.3vw;
}

/* ANIMATIONS */
.slide-in-top {
  -webkit-animation: slide-in-top 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-bottom {
  -webkit-animation: slide-in-bottom 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-bottom 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-blurred-left {
  -webkit-animation: slide-in-blurred-left 1s cubic-bezier(0.23, 1, 0.32, 1)
    both;
  animation: slide-in-blurred-left 1s cubic-bezier(0.23, 1, 0.32, 1) both;
}
@-webkit-keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
