.home {
  width: 100%;
}

.section-1 {
  height: 100vh;
  width: 100%;
  background-color: #070707;
}

.section-2 {
  height: 100vh;
  width: 100%;
  position: relative;
}

.section-2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("https://res.cloudinary.com/dsbp8pqdb/image/upload/v1687108506/fondos/pexels-ron-lach-10533140_aeakwf.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: saturate(90%) hue-rotate(-15deg) brightness(0.8);
  z-index: -1;
}

.section-3 {
  height: 100vh;
  width: 100%;
  position: relative;
}

.section-3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://res.cloudinary.com/dsbp8pqdb/image/upload/v1687108506/fondos/pexels-ron-lach-10533140_aeakwf.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: saturate(90%) hue-rotate(-15deg) brightness(0.8);
  transform: rotate(180deg) scaleX(-1);
  z-index: -1;
}

.indicators {
  position: fixed;
  right: 0;
  top: 40%;
  z-index: 999;
}

.indicator {
  transition: transform 0.2s;
  opacity: 0.7;
  background-color: transparent;
  border: none;
  font-size: 1.3vw;
  font-weight: bold;
}

.selected {
  transform: scale(1.2);
  opacity: 1;
}
body {
  font-family: "Space Grotesk", sans-serif;
}
.centro-texto {
  text-align: center;
}
.slider-size {
  height: 100%;
  width: 100%;
}
.slider-size-inside {
  height: 100vh;
  width: 100%;
}

.padre {
  position: relative;
}

.padre::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Cambia el valor del último parámetro para ajustar la opacidad */
}

.img-nat {
  position: relative;
  background-image: url("https://res.cloudinary.com/dsbp8pqdb/image/upload/v1686848392/pexels-andr%C3%A9-ulysses-de-salis-3727271_ljh2cw.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.img-nat.show-before::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.img-city {
  position: relative;
  background-image: url("https://res.cloudinary.com/dsbp8pqdb/image/upload/v1680013617/pexels-brayden-law-2096700_hfq4xw.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.img-city.show-before::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.img-por {
  position: relative;
  background-image: url("https://res.cloudinary.com/dsbp8pqdb/image/upload/v1680001067/pexels-leah-kelley-5091121_xcgcpa.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.img-por.show-before::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.background-linear {
  background: linear-gradient(
    to right,
    transparent 0%,
    transparent 5%,
    #000000a8 50%,
    transparent 95%,
    transparent 100%
  );
}
.w100 {
  width: 100%;
}
.h100 {
  height: 100%;
}
.navbars {
  position: fixed;
  margin-top: 7vh;
  z-index: 9999;
  opacity: 1 !important;
  color: rgb(255, 255, 255);
  /* background: linear-gradient(
    to right,
    transparent 0%,
    transparent 30%,
    #000000 50%,
    transparent 70%,
    transparent 100%
  );*/
}

.borde {
  border: 2px #ff0000;
}
.black {
  color: rgb(255, 255, 255);
  font-size: 2vw;
}
.right-button {
  position: relative;
  width: 2vw;
  opacity: 1 !important;
}
.left-button {
  position: relative;
  width: 2vw;
  opacity: 1 !important;
}
.ptop {
  margin-top: 43vh;
}
.titles {
  font-size: 4vw;
  color: rgb(255, 255, 255);
  font-weight: bold;
}
.translucid {
  background-color: rgba(0, 0, 0, 0.377);
}
.text-white {
  color: solid white;
}
.name-size {
  font-size: 2.3vw;
}
.hola {
  width: 100%;
}
.pointer {
  cursor: pointer;
}
.work-size {
  font-size: 3vw;
}
@media (max-width: 1400px) {
  /* Cambia el tamaño de letra cuando la pantalla es más pequeña que 600px */
  .name-size {
    font-size: 4vw; /* Puedes ajustar el tamaño de letra según tus necesidades */
  }
  .work-size {
    font-size: 4.5vw;
  }
  .indicator {
    transition: transform 0.2s;
    opacity: 0.7;
    background-color: transparent;
    border: none;
    font-weight: bold;
    font-size: 3vw !important;
  }
  .indicators {
    position: fixed;
    z-index: 999;
    margin-bottom: 5vh;
    margin-top: 1vh;
    right: 0;
    top: 90%;
  }
  .selected {
    transform: scale(1.2);
    opacity: 1;
  }
  .navbars {
    position: fixed;
    margin-top: 3vh;
    z-index: 999;
    opacity: 1 !important;
    color: rgb(255, 255, 255);
    /* background: linear-gradient(
    to right,
    transparent 0%,
    transparent 30%,
    #000000 50%,
    transparent 70%,
    transparent 100%
  );*/
  }
  .titles {
    font-size: 3vw !important;
    color: rgb(255, 255, 255);
    font-weight: bold;
  }
}
@media (max-width: 700px) {
  /* Cambia el tamaño de letra cuando la pantalla es más pequeña que 600px */
  .name-size {
    font-size: 6vw; /* Puedes ajustar el tamaño de letra según tus necesidades */
  }
  .work-size {
    font-size: 6.5vw;
  }
  .indicator {
    transition: transform 0.2s;
    opacity: 0.7;
    background-color: transparent;
    border: none;
    font-weight: bold;
    font-size: 4.5vw !important;
  }
  .indicators {
    position: fixed;
    z-index: 999;
    margin-bottom: 5vh;
    margin-top: 1vh;
    right: 0;
    top: 90%;
  }
  .selected {
    transform: scale(1.2);
    opacity: 1;
  }
  .navbars {
    position: fixed;
    margin-top: 3vh;
    z-index: 999;
    opacity: 1 !important;
    color: rgb(255, 255, 255);
    /* background: linear-gradient(
    to right,
    transparent 0%,
    transparent 30%,
    #000000 50%,
    transparent 70%,
    transparent 100%
  );*/
  }
  .titles {
    font-size: 4.5vw !important;
    color: rgb(255, 255, 255);
    font-weight: bold;
  }
}

/* PHOTOS --------------------------------------------------------------------------------------------------------------------------------*/

.photos-h {
  height: 70vh;
}
.h100 {
  height: 100%;
}

.h70 {
  height: 70%;
}
.h30 {
  height: 30%;
}
.h50 {
  height: 50%;
}
.w50 {
  width: 50%;
}
.h35 {
  height: 35%;
}
.h30 {
  height: 30%;
}
.h40 {
  height: 40%;
}
.h60 {
  height: 60%;
}
.h20 {
  height: 20%;
}

/* ANIMATIONS -------------------------------------------------------------------------------------------------------------------------*/
.slide-in-top {
  -webkit-animation: slide-in-top 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-bottom {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-animation: slide-in-bottom 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-bottom 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px) translate(-50%, -50%);
    transform: translateY(1000px) translate(-50%, -50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) translate(-50%, -50%);
    transform: translateY(0) translate(-50%, -50%);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px) translate(-50%, -50%);
    transform: translateY(1000px) translate(-50%, -50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) translate(-50%, -50%);
    transform: translateY(0) translate(-50%, -50%);
    opacity: 1;
  }
}

.scale-in-ver-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(0);
  opacity: 0;
  animation: scale-in-ver-center 0.5s both;
}

@keyframes scale-in-ver-center {
  0% {
    transform: translate(-50%, -50%) scaleY(0);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) scaleY(1);
    opacity: 1;
  }
}

.slide-in-blurred-left {
  -webkit-animation: slide-in-blurred-left 1s cubic-bezier(0.23, 1, 0.32, 1)
    both;
  animation: slide-in-blurred-left 1s cubic-bezier(0.23, 1, 0.32, 1) both;
}
@-webkit-keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
