.service-top {
  margin-top: 22vh;
}
.service-top-tablet {
  margin-top: 9vh;
}
.serviceh {
  height: 60vh;
}
.servicehtablet {
  height: 77vh;
}

.white {
  color: white;
}

.text-size {
  font-size: 1vw;
  max-height: 50vh;
  overflow: hidden;
}

.image-container {
  position: relative;
}

.image-container::before {
  content: "";
  position: absolute;
  top: 2vh;
  left: -2vh;
  width: calc(100% - 1vh);
  height: calc(100%);

  z-index: -1;
  border: 4px solid white;
}
.service-text-size {
  font-size: 1.7vw;
  max-height: 37vh;
  overflow: hidden;
}

@media (max-width: 1400px) {
  .service-text-size {
    font-size: 1.7vw;
    max-height: 37vh;
    overflow: hidden;
  }
  .image-container {
    position: relative;
  }

  .image-container::before {
    content: "";
    position: absolute;
    top: 2vh;
    left: -2vh;
    width: calc(100% - 1vw);
    height: calc(100%);

    z-index: -1;
    border: 2px solid white;
  }
}
@media (max-width: 800px) {
  .service-text-size {
    font-size: 3vw;
    max-height: 60vh;
    overflow: hidden;
  }
  .image-container {
    position: relative;
  }

  .image-container::before {
    content: "";
    position: absolute;
    top: -1vh;
    left: -1vh;
    width: calc(100% + 4vw);
    height: calc(100% + 2vh);

    z-index: -1;
    border: 2px solid white;
  }
  .image-with-gradient {
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0)
    );
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.fondo {
  margin-top: 17%;
  background-color: black;
  height: 30vh;
}
.borderb {
  border-bottom: 2px solid white;
}

.buttonc {
  font-size: 18px;
  color: #e1e1e1;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.buttonc:focus,
.buttonc:hover {
  color: #fff;
}

.buttonc:focus:after,
.buttonc:hover:after {
  width: 100%;
  left: 0%;
}

.buttonc:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}
